*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: var(--barlow);
  font-size: var(--fs-400);
  color: hsl(var(--clr-white));
  background-color: hsl(var(--clr-dark));
  min-height: 100vh;
  background-image: url(../../assets/home/background-home-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}
@media (min-width: 48em) {
  body {
    background-image: url(../../assets/home/background-home-tablet.jpg);
  }
}
@media (min-width: 90em) {
  body {
    background-image: url(../../assets/home/background-home-desktop.jpg);
  }
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: hsl(var(--clr-white));
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;
}

.container {
  width: min(100% - 1.5rem, 23.4375rem);
  margin-inline: auto;
}
@media (min-width: 48em) {
  .container {
    width: min(100% - 1.5rem, 48rem);
  }
}
@media (min-width: 90em) {
  .container {
    width: min(100% - 1.5rem, 90rem);
  }
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

@font-face {
  font-family: "Barlow";
  src: url(../assets/fonts/Barlow/Barlow-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Barlow Condensed";
  src: url(../assets/fonts/Barlow_Condensed/BarlowCondensed-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Bellefair";
  src: url(../assets/fonts/Bellefair/Bellefair-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
:root {
  --bellefair: "Bellefair", sans-serif;
  --barlow-condensed: "Barlow Condensed", sans-serif;
  --barlow: "Barlow", sans-serif;
  --fs-1000: 62.5rem;
  --fs-900: 9.375rem;
  --fs-800: 6.25rem;
  --fs-700: 3.5rem;
  --fs-600: 2rem;
  --fs-500: 1.75rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;
}

.text-dark {
  color: hsl(var(--clr-dark));
}

.text-accent {
  color: hsl(var(--clr-light));
}

.text-white {
  color: hsl(var(--clr-white));
}

.u-uppercase {
  text-transform: uppercase;
}

:root {
  --spacing-1600: 8rem;
  --spacing-1200: 6rem;
  --spacing-1000: 5rem;
  --spacing-800: 4rem;
  --spacing-600: 3rem;
  --spacing-500: 2.5rem;
  --spacing-400: 2rem;
  --spacing-300: 1.5rem;
  --spacing-200: 1rem;
  --spacing-100: 0.75rem;
  --spacing-50: 0.5rem;
  --spacing-250: 0.125rem;
}

.flow > * + * {
  margin-top: 1rem;
}

header {
  margin: 2.5rem 0;
}

.button--large {
  position: relative;
  display: grid;
  z-index: 1;
  place-items: center;
  padding: 0 2em;
  border-radius: 50%;
  aspect-ratio: 1;
  text-decoration: none;
}

.button--large::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: hsl(var(--clr-white)/0.15);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 500ms linear, transform 750ms ease-in-out;
}

.button--large:hover::after,
.button--large:focus::after {
  opacity: 1;
  transform: scale(1.5);
}

.btn {
  cursor: pointer;
  background: transparent;
  border: none;
}

.btn-close {
  margin-bottom: 3rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__list {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 75%;
  background-color: hsl(var(--clr-light)/10%);
  -webkit-backdrop-filter: blur(0.75rem);
          backdrop-filter: blur(0.75rem);
  transform: translateX(100%);
  transition: transform 300ms ease-out;
}
.nav__list.is-active {
  transform: translateX(0);
  transition: transform 300ms ease-in;
}
.nav__item {
  padding: 2rem 0rem;
}
.nav__item:first-child {
  margin-left: auto;
  margin-right: 1rem;
  margin-top: 1.75rem;
}
.nav__link {
  display: block;
  width: 100%;
  padding-left: 1rem;
  font-size: var(--fs-300);
}
.nav__link:hover {
  border-right: 2px solid hsl(var(--clr-white));
}/*# sourceMappingURL=style.css.map */