@use "../util/" as u;

@font-face {
  font-family: "Barlow";
  src: url(../assets/fonts/Barlow/Barlow-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Barlow Condensed";
  src: url(../assets/fonts/Barlow_Condensed/BarlowCondensed-Regular.ttf)
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Bellefair";
  src: url(../assets/fonts/Bellefair/Bellefair-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

:root {
  // Font families
  --bellefair: "Bellefair", sans-serif;
  --barlow-condensed: "Barlow Condensed", sans-serif;
  --barlow: "Barlow", sans-serif;

  // Spacing
  --fs-1000: #{u.rem(1000)};
  --fs-900: #{u.rem(150)};
  --fs-800: #{u.rem(100)};
  --fs-700: #{u.rem(56)};
  --fs-600: #{u.rem(32)};
  --fs-500: #{u.rem(28)};
  --fs-400: #{u.rem(18)};
  --fs-300: #{u.rem(16)};
  --fs-200: #{u.rem(14)};
}

// Utilities

// Colors
.text-dark {
  color: #{hsl(var(--clr-dark))};
}

.text-accent {
  color: #{hsl(var(--clr-light))};
}

.text-white {
  color: #{hsl(var(--clr-white))};
}

// transforms
.u-uppercase {
  text-transform: uppercase;
}

// alignment
.u-align-center-desktop {
  text-align: center;
  @include u.breakpoint(desktop) {
    text-align: start;
  }
}

.u-align-center-mobile {
  text-align: center;
  @include u.breakpoint(tablet) {
    text-align: start;
  }
}

// General
.subheading {
  margin: u.rem(24) 0;
  font-family: var(--barlow-condensed);
  letter-spacing: u.rem(4);
  text-transform: uppercase;
  font-weight: 400;
  font-size: u.rem(16);
  font-size: clamp(u.rem(16), u.rem(12) + 1.1267605633802815vw, u.rem(28));
}

.heading--xl,
.heading--lg,
.heading--m,
.category,
.terminology {
  font-family: var(--bellefair);
  font-weight: 400;
}

.heading--xl {
  font-size: clamp(u.rem(80), 3.5rem + 6vw, u.rem(144));
}

.heading--lg {
  font-size: clamp(u.rem(56), 2.5rem + 3vw, u.rem(96));
}

.heading--m {
  font-size: clamp(u.rem(24), 1.2rem + 1vw, u.rem(56));
}

.category {
  font-size: clamp(u.rem(18), u.rem(13) + 1.3145539906103285vw, u.rem(32));
}

.terminology {
  font-size: clamp(
    u.rem(18),
    0.28873239436619724rem + 3.568075117370892vw,
    u.rem(56)
  );
}

.body {
  font-size: clamp(u.rem(15), u.rem(14) + 0.2816901408450704vw, u.rem(18));
  line-height: 180%;
}

// indexes
.nav-index,
.page-index {
  font-weight: 700;
  font-size: u.rem(16);
  padding: u.rem(8);

  @include u.breakpoint(tablet) {
    padding-right: u.rem(8);
  }
}

.page-index {
  font-size: clamp(u.rem(16), u.rem(12) + 1.1267605633802815vw, u.rem(28));
  color: #{hsl(var(--clr-light) / 25%)};
}
