@use "../util/" as u;

.fade-in {
  animation: fade-in 450ms ease-in forwards;
}

.fade-left {
  animation: fade-left 450ms ease-in forwards;
}

.fade-top {
  animation: fade-top 450ms ease-in forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-left {
  from {
    opacity: 0;
    transform: translateX(-20%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-top {
  from {
    opacity: 0;
    transform: translateY(-20%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
