.button--large {
  position: relative;
  display: grid;
  z-index: 1;
  place-items: center;
  padding: 0 2em;
  border-radius: 50%;
  aspect-ratio: 1;
  text-decoration: none;
}

.button--large::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: hsl(var(--clr-white) / 0.15);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 500ms linear, transform 750ms ease-in-out;
}

.button--large:hover::after,
.button--large:focus::after {
  opacity: 1;
  transform: scale(1.5);
}
