@use "../util/" as u;

.crew {
  margin: u.rem(24) 0;

  @include u.breakpoint(desktop) {
    padding-inline: u.rem(100);
  }
  &__wrap {
    @include u.breakpoint(desktop) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: u.rem(24);
    }
  }

  &__content {
    // content stuff
    padding-top: u.rem(40);
    display: flex;
    flex-direction: column;
    gap: u.rem(24);

    @include u.breakpoint(tablet) {
      padding: u.rem(24) u.rem(80);
    }

    @include u.breakpoint(desktop) {
      padding-inline: u.rem(24);
    }
  }

  &__details {
    // details
    margin: u.rem(40) 0;

    @include u.breakpoint(desktop) {
      margin: auto 0;
    }
  }

  &__category {
    // category
    color: #{hsl(var(--clr-white) / 50%)};
  }

  &__indicators {
    // indicators
    display: flex;
    justify-content: center;
    align-items: center;
    gap: u.rem(16);

    @include u.breakpoint(desktop) {
      justify-content: flex-start;
    }
  }

  &__image {
    // image
    margin: u.rem(24);
    animation: fade-in 300ms;

    img {
      margin-inline: auto;
      @include u.breakpoint(desktop) {
        width: u.rem(540);
        height: u.rem(734);
        object-fit: contain;
        margin-left: auto;
      }
    }
  }
}
